:root {
  --cor-azul: #0077b6;
  --cor-verde: #43b574;
  --cor-branco: #f4f9fb;
  --cor-fonte: #222;
  --cor-destaque: #00b894;
  --cor-erro: #e84118;
  --cor-card: #fff;
  --cor-footer: #04395e;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  background: var(--cor-branco);
  color: var(--cor-fonte);
  min-height: 100vh;
  transition: background 0.3s;
}

body.tema-azul {
  background: #d0f1ff;
}
body.tema-verde {
  background: #eaffea;
}
body.tema-branco {
  background: #fff;
}